body {
    margin: 0;
    background: #1F2937;
    color: #D5D4D8;
}

h1 {
    font-family: Karla;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 40px;
    line-height: 40px;
    
    letter-spacing: -2.5%;
    width: 354px;
}

.yellow {
    color: rgb(212, 63, 13)
}   

#container {
    margin-left: 52px;
    margin-top: 50px;
}

.btn {
    margin-top: 51px;
    width: 191px;
    height: 42px;
    border-radius: 6px;
    border: 0;
    background-color: #F59E0B;
    color: white;
    font-family: Karla;
    letter-spacing: -2.5%;
    font-size: 17px;
    font-weight: bold;    
}

#line {
    width: 446px;
    height: 0px;
    border: 1px solid #2F3E53;
    margin: 35px 0 3px;        
}

#first-password, #second-password {
    background-color: #273549;
    width: 211px;
    height: 39px;
    border-radius: 6px;
    font-weight: 500;
    font-family: Karla;
    font-size: 16px;
    color: #55F991;
    line-height: 32px;
    letter-spacing: -2.5%;
    text-align: center;
    vertical-align: middle;
    padding-top: 7px;
    padding-bottom: 0px;
}

#password-container {
    display: flex;
    justify-content: space-between;
    width: 446px;
    margin-top: 0px;
}


